* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

a {
    text-decoration: none;
}

.body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    gap: 32px;
    padding: 8px 15% 64px 15%;
}

header > nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 10px;
}

.links a {
    color: #e5e7eb;
}

.container {
    display: flex;
    gap: 8px;
}

.hero-left, .hero-right {
    display:flex;
    flex-grow: 1;
    flex-basis: 0;
}

.hero-left {
    flex-direction: column;
    gap: 8px;
}

.hero-left > h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 600;
}

.hero-left > p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-left > button {
    border: none;
    background-color: #3882f6;
    padding: 8px 24px;
    border-radius: 8px;
    align-self: flex-start;
    color: #fff;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #6D747D;
    color: #fff;   
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 15% 64px 15%;
}